.navbar-header {
  width: 100%;
}

.dropdown-toggle, .navbar-brand {
  font-size: 2em !important;
}

.profile-pic {
  width: 150px;
}

ul.basic-info {
  list-style: none;
  padding-left: 0;
}

#message-me-button {
  margin-bottom: 20px;
}
