<h1 class="text-center">Login to OkOdin</h1>
<hr>
<div class="box col-sm-4 col-sm-offset-4">
  <form action='/sessions' method="POST">
    <div class="form-group">
      <input type="text" name="username" placeholder="Username" class="form-control"/>
    </div>
    <div class="form-group">
      <input type="text" name="email" placeholder="Email" class="form-control"/>
    </div>
    <button type="submit" class="btn btn-primary">Login</button>
  </form>
  <small>not a member? <a href="/">Sign Up</a></small>
</div>
